# Starter pipeline
trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: Docker@2
  inputs:
    containerRegistry: 'DockerHub-AuthToken'
    repository: 'robinwinters/web-app-image'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'
    tags: |
      1.0
      latest
